In [31]:
id = 113584
n = "Waleed"
f=0
print("Student Name : ",n)
print("Student ID : ",id)
print("Marks : ",f)

if f>0:
  print("Greater than zero")
elif f<0:
  print("Less than zero")
else:
  print("Equal to zero")

for i in range(0,16,5):
  print("ok",i,"ok")

a=5
while a<=50:
  print(a)
  a+=5

a=1
while a<=10:
  print("5 X ", a," = " ,a*5)
  a+=1

l=[23,45,567,78,809,0,30,5]
for i in range (5):
  print(l[i])

for i in l:
  print("***",i,"***")

ch=['w','a','l','e','e','d']
print(ch)

for i in ch:
  print(i)

Student Name :  Waleed
Student ID :  113584
Marks :  0
Equal to zero
ok 0 ok
ok 5 ok
ok 10 ok
ok 15 ok
5
10
15
20
25
30
35
40
45
50
5 X  1  =  5
5 X  2  =  10
5 X  3  =  15
5 X  4  =  20
5 X  5  =  25
5 X  6  =  30
5 X  7  =  35
5 X  8  =  40
5 X  9  =  45
5 X  10  =  50
23
45
567
78
809
*** 23 ***
*** 45 ***
*** 567 ***
*** 78 ***
*** 809 ***
*** 0 ***
*** 30 ***
*** 5 ***
['w', 'a', 'l', 'e', 'e', 'd']
w
a
l
e
e
d